body {
  font-family: "Montserrat", sans-serif;
}

.header{
  background-image: url(./image/header-background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 8px;
}
.background-menu {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(94, 93, 88, 0.6);

}
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;


}
.page-header__wrapper {
  padding: 366px 0 243px;
  background: rgba(255, 255, 255, 0.25);
}
.logo-img {
  position: relative;
}
.logo-img-text {

  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  position: absolute;
  margin-left: 14px;
}
.logo-text {
  margin: 0;
  padding-left: 6px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}
.accent-color {
  font-weight: 700;
  font-size: 32px;
  color: #18cfab;
}
.logo {
  margin: 26px 0;
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.menu-item-link {
  padding-bottom: 48px;
  margin-right: 21px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  transition: color 0.5s;
  color: rgba(255, 255, 255, 0.6);

}
.menu-item-link:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}
.img-search {
  transition: fill 500ms;
  cursor: pointer;
  width: 21px;
  height: 21px;
}

.block-nav {
  align-items: center;
  display: flex;
}
.block-header {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title-text {
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  margin: 0;
}
.header-title {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 78px;
  line-height: 78px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 35px;
}
.header-subtitle {
  margin-bottom: 130px;
  margin-top: 0;
  text-align: center;
  font-weight: 400;
  font-size: 34px;
  line-height: 35px;
  color: #d4d4d4;
}
.btn-border-top {
  display: inline-block;
  background-color: #ffffff;
  border-top: 6px solid #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: transparent;
}
.btn-border-top:not(:last-child) {
  margin-right: 26px;
}
.page-btn {
  display: inline-block;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  min-width: 170px;
  padding: 16px 5px;
  border-radius: 3px;
  position: relative;
  top: -2px;
  transition: top 0.3s;
}
.page-btn:hover {
  top: -6px;
}
.bg-green {
  background: #18cfab;

}
.bg-blue {
  background: #00cbf6;
}
.information-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 58px;
  margin-bottom: 0;
}
.information-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 91px;
}
.information-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 361px;
  background-color: #18cfab;
}
.information-img {
  margin-top: 97px;
}
.accent-item {
  background-color: #1c2a33;
}
.accent-text {
  color: #18cfab;
  margin-top: 47px;
}
.accent-img {
  margin-top: 87px;
}
.services-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  text-align: center;
  margin-bottom: 26px;
  position: relative;
}
.line {
  width: 77px;
  height: 1px;
  margin: 0 auto;
  background-color: #18cfab;
  border: none;
  position: relative;
  right: 5px;
}
.accent-line {
  margin-top: 3px;
  position: relative;
  left: 8px;
  margin-bottom: 69px;
}
.service {
  background-color: #f8fcfe;
}
.service__wrapper {
  padding: 90px 0;
}
.service-tabs__list {
  display: flex;
  padding-left: 0px;

}
.service-tabs__item {
  background-color: #f8fcfe;
  cursor: pointer;
  font-size: 16px;
  color: #717171;
  padding: 18px 34px;
  border: 1px solid #edefef;
  transition: border-color 0.5s;
  list-style-type: none;
  width: 1160px;

}
.service-tabs__item:hover {
  border-color: #18cfab;
}
.active-tab {
  background-color: #18cfab;
  color: #ffffff;
  border: none;
  position: relative;
}
.active-tab::before {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
  bottom: -20px;
  left: calc(50% - 10px);
}
.service-tabs-content__item {
  display: none;

}
.service-tabs-content__img {
  margin-right: 20px;
  width: 192px;
  height: 139px;
  margin-left: -40px;

}
.service-tabs-content__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  margin-top: 0px;
  padding-left: 0px;
}

@keyframes open {
  0% {
    display: flex;
    opacity: 0;
    top: 30px;
  }
  100% {
    display: flex;
    opacity: 1;
    top: 0;
  }
}
.background-block {
  position: relative;
  margin-top: 91px;
  padding-bottom: 127px;
  padding-top: 127px;
  background-image: url(./image/section-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
.background-block::after {
  position: absolute;
  content: "";
  background-color: #1c2a33;
  opacity: 0.78;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}
.title-block-reg {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
  margin-bottom: 12px;
  margin-top: 0;
}
.text-reg {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #d8d8d8;
  margin-top: 0;
  margin-bottom: 67px;
}

.span-btn {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
 }

.background-block-work {
  background-color: #e9edef;
  padding-top: 96px;
  padding-bottom: 99px;
}
.title-block-work {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 20px;
  margin-top: 0;
}
.list-block-work {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 71px;
}
.btn-work {
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  color: #717171;
  padding: 0 15px;
  border: none;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #dadada;
  height: 58px;
  display: flex;
  align-items: center;
  transition: color 500ms, border 500ms;
  cursor: pointer;
}
.btn-work-all {
  padding: 0 28px;
  color: #18cfab;
  border: 2px solid #18cfab;
}
.list-img-work {
  padding-left: 7px;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2px;
  margin-bottom: 70px;
}
.item-img-work {
  position: relative;
  animation: imgWork 1s;
}
@keyframes imgWork {
  0% {
    opacity: 0;
    bottom: 30px;
    left: 100px;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    bottom: 0;
    left: 0;
    transform: scale(1);
  }
}
.icon-img1 {
  padding: 13px;
  border: 1px solid #18cfab;
  border-radius: 50%;
  margin-right: 4px;
  transition: background 500ms;
}
.icon-img1:hover {
  background-color: #18cfab;
}
.icon-item-img1 path {
  transition: fill 500ms;
}
.icon-img1:hover .icon-item-img1 path {
  fill: #ffffff;
}
.icon-img2 {
  padding: 14px;
  border: 1px solid #18cfab;
  border-radius: 50%;
  transition: background 500ms;
}
.icon-img2:hover {
  background-color: #18cfab;
}
.icon-img2:hover .icon-item-img2 {
  background-color: #ffffff;
}
.icon-item-img2 {
  width: 12px;
  height: 12px;
  background-color: #18cfab;
  transition: background 500ms;
}
.icon-hover-block {
  display: flex;
  justify-content: center;
  margin-top: 46px;
}
.hover-item-img {
  position: absolute;
  bottom: 0;
  width: 285px;
  height: 206px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9edef;
  border-top: 2px solid #18cfab;
  opacity: 0;
  transition: opacity 500ms;
}
.text-item-img {
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18cfab;
  margin: 0;
  margin-top: 24px;
}
.subtext-item-img {
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8a8a8a;
  margin: 0;
}
.item-img-work:hover .hover-item-img {
  opacity: 1;
}
.btn-load-img {
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #18cfab;
  border: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 23px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-load-img img {
  margin: 22px 0;
  margin-right: 15px;
}
.active {
  display: none;
}
.active1 {
  display: none;
}
.title-block-news {
  margin-top: 82px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 24px;
}
.text-news {
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  text-align: center;
  color: #717171;
  margin-top: 5px;
  margin-bottom: 0;
  transition: color 500ms;
}
.sub-text {
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  text-align: center;
  color: #777777;
  margin: 0;
  margin-bottom: 44px;
}
.sub-span-text {
  padding-right: 9px;
  border-right: 1px solid #777777;
}
.subtext {
  padding-left: 12px;
}
.list-block-news {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 35px;
  margin-bottom: 85px;
}
.number-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-top: 11px;
}
.text-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
.item-news {
  position: relative;
  cursor: pointer;
}
.news-date {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 68px;
  background-color: #203e38;
  transition: background 500ms;
}
.item-news:hover .news-date {
  background-color: #18cfab;
}
.item-news:hover .text-news {
  color: #18cfab;
}
.background-block-peaple {
  background-image: url(./image/section-3.jpg);
  position: relative;
  padding-bottom: 104px;
  padding-top: 98px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  margin-bottom: 108px;
}
.background-block-peaple::after {
  position: absolute;
  content: "";
  background-color: #1c2a33;
  opacity: 0.78;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}
.title-block-peaple {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
  margin-top: 0;
}
.shape-block {
  margin: 0 auto;
  margin-bottom: 37px;
}
.text-peaple {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #bbbbbb;
  margin-top: 0;
  margin-bottom: 37px;
}
.text-name-peaple {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
  margin-top: 0;
  margin-bottom: 0;
}
.text-profeshion {
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  color: #bbbbbb;
  margin-top: 0;
  margin-bottom: 38px;
}
.list-block-peaple {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
.peaple-img {
  margin: 0 auto;
  margin-bottom: 30px;
}
.btn-left-slide {
  height: 31px;
  padding: 8px 11px;
  border: none;
  background: none;
  border: 1px solid #bbbbbb;
  margin-right: 17px;
  transition: background 500ms, border 500ms;
}
.btn-right-slide {
  height: 31px;
  padding: 8px 11px;
  border: none;
  background: none;
  border: 1px solid #bbbbbb;
  margin-left: 24px;
  transition: background 500ms, border 500ms;
}
.list-slide-peaple {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.slider {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
}
.item-img-peaple {
  margin-left: 9px;
  transition: margin 500ms;
}
.btn-left-slide:hover {
  background: #1fdab5;
  border: 1px solid #1fdab5;
}
.btn-left-slide:hover svg .img-fill {
  fill: #ffffff;
}
.btn-right-slide:hover {
  background: #1fdab5;
  border: 1px solid #1fdab5;
}
.img-fill {
  transition: fill 500ms;
}
.btn-right-slide:hover svg .img-fill {
  fill: #ffffff;
}

.active-img {
  transition: margin 500ms;
  margin-bottom: 30px;
  position: relative;
  animation: slideImg 500ms ease-in;
}
@keyframes slideImg {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.item-block-peaple {
  display: none;
}
.active-block-people {
  display: block;
  position: relative;
  animation: slider 500ms;
}
@keyframes slider {
  0% {
    display: block;
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    bottom: 0;
    transform: scale(1);
  }
}
.background-footer {
  padding-top: 48px;
  padding-bottom: 47px;
  background-color: #22353f;
  text-align: center;
}
.footer-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}
.footer-text-color {
  color: #18cfab;
  padding-right: 2px;
}
.footer-text-item {
  border-left: 1px solid #aeaeae;
  padding-left: 5px;
}
.container-load {
  -webkit-perspective: 700px;
  perspective: 700px;
  display: flex;
  justify-content: center;
  display: none;
}
.container-load-bestImg {
  margin-bottom: 15px;
}
.container-load > span {
  font-size: 40px;
  display: inline-block;
  animation: flip 2.6s infinite linear;
  transform-origin: 0 70%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  color: #18cfab;
}
@keyframes flip {
  35% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotatex(360deg);
  }
}
.container-load > span:nth-child(2) {
  animation-delay: 0.3s;
}
.container-load > span:nth-child(3) {
  animation-delay: 0.6s;
}
.container-load > span:nth-child(4) {
  animation-delay: 0.9s;
}
.container-load > span:nth-child(5) {
  animation-delay: 1.2s;
}
.container-load > span:nth-child(6) {
  animation-delay: 1.5s;
}
.container-load > span:nth-child(7) {
  animation-delay: 1.8s;
}
.title-best-image {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}
.line-best-image {
  margin-bottom: 83px;
}
.list-best-image {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.item-best-image {
  margin-bottom: 20px;
  position: relative;
  animation-name: bestImg;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
@keyframes bestImg {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.item-best-image-block1 {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  display: flex;
  width: 373px;
  flex-wrap: wrap;
  gap: 3px;
  margin-bottom: 20px;
}

.btn-load-best-img {
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #18cfab;
  border: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 23px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 32px;
  margin-bottom: 67px;
}
.btn-load-best-img img {
  margin: 22px 0;
  margin-right: 15px;
}
.item-best-image-load {
  margin-bottom: 20px;
}
.active-load {
  display: none;
}
